<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search users", required: true %>
  <%= submit_tag "Find friends", :name => nil %>
<% end %>

<% @users.each do |user| %>
  <%= user.name %>
  <%= link_to 'Friend', user_follows_path(user), method: :post %>
<% end %>

<% if !current_user.all_following.empty? %>
	<% current_user.all_following.each do |friend| %>

		<li><%= friend.name %></li>
		<%= link_to 'Un-friend', user_follow_path(friend, (current_user.follows.find_by(followable_id: friend.id)).id), method: :delete %>

	<% end %>
<% end %>